@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadProRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ralewayblack';
	src: url('../fonts/raleway-black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #eeeeee;
	padding-left: 150px;
	padding-top: 50px;
	padding-right: 150px;
	padding-bottom: 30px;
}

.logo {
	display: inline-block;
	margin: 0;
	font-family: roboto;
	font-size: 48px;
	line-height: .6em;
}

.product-nav {
	display: inline-block;
	margin: 0;
	margin-left: 320px;
	font-size: 0;
}

.product-nav li {
	display: inline-block;
	margin-left: 50px;
}

.product-nav a {
	font-family: roboto;
	font-size: 18px;
	line-height: 1.5em;
	color: #303030;
	text-decoration: none;
}

.product-nav a:hover {
	color: #137dff;
	text-decoration: underline;
}

.product-nav li span {
	display: block;
	width: 30px;
	height: 4px;
	margin-bottom: 5px;
	background: #303030;
}

.product-nav span:last-child {
	margin: 0;
}

.product-nav li:hover span {
	background: #137dff;
}

.slider {
	width: 100%;
	padding-top: 120px;
}

.black-white {
	display: block;
	box-sizing: border-box;
	padding: 10px; 
	float: left;
	width: 55%;
	height: 500px;
}

.black-white span {
	display: block;
	font-family: ralewayblack;
	font-size: 150px;
	line-height: 1em;
	color: #303030;
	text-align: right;
}

.black-white p {
	font-family: roboto;
	font-size: 24px;
	line-height: 1.5em;
	color: #303030;
	text-align: right;
}

.black-white a {
	color: #e10011;
	font-weight: bold;
	text-decoration: none;
}

.black-white a:hover {
	color: #137dff;
}

.photo {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 90px;
	width: 40%;
	height: 500px;
}

.photo img {
	width: 365px;
	height: 491px;
}

.slider-btn {
	box-sizing: border-box;
	width: 55px;
	height: 15px;
	margin: auto;
	padding-left: 3px; 
	margin-top: 70px;
}

.slider-btn input {
	display: none;
}

.slider-btn label {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #303030;
	border-radius: 50%;
}

.slider-btn input:checked + label {
	background-color: #e10011;
}

.featured-product {
	width: 90%;
	height: 900px;
	background-color: #ffffff;
	margin-top: 90px;
	padding-left: 5.8%;
	padding-top: 9.2%;
	padding-right: 5.8%;
	padding-bottom: 6.3%;
	color: #303030;
}

.featured-product h2 {
	margin: 0;
	font-family: ralewayblack;
	font-size: 48px;
	text-align: center;
}

.featured-product h2::after {
	content: url("../img/underline.png");
	display: block;
	margin: 0;
	line-height: 18px;
}

.featured-product p {
	margin: 0;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 20px;
	padding-bottom: 70px;
	text-align: center;
}

.featured-product-list {
	display: block;
	width: 88%;
	height: 80%;
	margin: auto;
	padding: 0;
	list-style: none;
}

.featured-product-list li {
	height: 49%;
	background-color: #eeeeee;
	border-radius: 10px;
	overflow: hidden;
}

.featured-product-list-speaker {
	width: 65%;
	position: relative;
	float: left;
}

.featured-product-list-headphones,
.featured-product-list-bracelet,
.featured-product-list-shoes,
.featured-product-list-armchair {
	width: 30%;
	position: relative;
	margin-top: 2%;
}

.featured-product-list-headphones {
	margin: 0;
}

.featured-product-list-shoes,
.featured-product-list-bracelet {
	float: left;
	margin-right: 5%;
}

.featured-product-list-headphones,
.featured-product-list-armchair {
	float: right;
}

.featured-product-list-speaker img {
	margin-top: -20%;
	margin-left: -25%;
	transform: scale(0.9);
}

.featured-product-list-headphones img{
	margin-top: -30%;
	transform: scale(0.9);
}

.featured-product-list-shoes img {
	margin-top: -20%; 
	margin-left: -130%;
	transform: scale(0.8);
}

.featured-product-list-armchair img{
	margin-top: -10%;
	margin-left: -50%;
	transform: scale(0.9);
}

.featured-product-list li:hover::before {
	content: url("../img/rectangle.png");
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0; 
	background-color: #e10011;
	padding-left: 10%;
	padding-top: 120%;
	z-index: 1;
}

.featured-product-list li:hover::after {
	content: "Minimal Product Design";
	display: block;
	position: absolute;
	width: 230px;
	bottom: 0;
	padding-bottom: 20%;
	padding-left: 10%;
	font-family: "Myriad Pro";
	font-size: 30px;
	color: #ffffff;
	z-index: 2;
}
